.item {
  width: 35rem;

  padding: 1rem 2rem;
  background-color: #eee;
  box-shadow: 0.1rem 0.2rem 0.8rem rgba(0, 0, 0, 0.3);
}

.item h2 {
  font-size: 2.5rem;
  line-height: 1.2;
}

.item p {
  font-size: 1.8rem;
  margin: 1rem 0 2rem 0;
  color: #292929;
}

.item b {
  font-size: 2rem;
  color: #8e2903;
}
